<div class="form-content-margin backround-content-color">
    <div class="horizontal-form">
        <div class="form-body">
            <h3 class="form-section comon-text-label-color">Edit Capcha</h3>
            <div class="row">
                <div class="col-xs-10">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label class="control-label comon-text-label-color">Captcha Image</label><br />
                                <Img src="{{itemToEdit.CaptchaImgUrl}}" alt="test" class="save-dimentions" />                                
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label class="control-label comon-text-label-color">Change Verification Code</label>
                                <input [(ngModel)]="itemToEdit.VerificationKey" id="capthaKey" value="itemToEdit.VerificationKey" name="capthaKey" type="text" class="form-control" placeholder="" required />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <button type="button" (click)="updateCapthaInfo()" class="btn btn-block btn-info">Update</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>