<simple-notifications [options]="options"></simple-notifications>
<div class="form-content-margin backround-content-color">
    <div class="horizontal-form">
        <div class="form-body">
            <h3 class="form-section comon-text-label-color">Create New Product</h3>           
            <div class="row">
                <div class="col-xs-10">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label class="control-label comon-text-label-color">Public Product?</label>
                                <select [(ngModel)]="item.RequestToPublic" class="btn btn-block" [ngModelOptions]="{standalone: true}">
                                    <option [ngValue]="'true'">YES</option>
                                    <option [ngValue]="'false'">No</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label class="control-label comon-text-label-color">Select Category</label>
                                <select [(ngModel)]="item.CategoryId" class="btn btn-block" [ngModelOptions]="{standalone: true}">
                                    <option *ngFor="let category of categories" [ngValue]="category.Id">{{category.Title}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label class="control-label comon-text-label-color">Title</label>
                                <input [(ngModel)]="item.Title" id="productTitle" name="productTitle" type="text" class="form-control" placeholder="" required />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label class="control-label comon-text-label-color">Description</label>
                                <textarea [(ngModel)]="item.Description" id="productDescription" name="productDescription" type="text" class="form-control" placeholder="" required></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label class="control-label comon-text-label-color">Captcha Image</label><br />
                                <Img id="itemImagePreview" name="itemImagePreview" alt="test" class="save-dimentions" />
                            </div>
                        </div>
                    </div><div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label class="control-label comon-text-label-color">Product Image</label><br />
                                <input type="file" class="btn btn-block btn-success" id="itemImage" (change)="onProductImage($event)" required />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <button type="button" (click)="saveProductInfo()" class="btn btn-block btn-info">Save Info</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>